@inherits HomeBase
@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@page "/"

<PageTitle>All Products in Inventory</PageTitle>

<h1 style="text-align: center; margin: 1em">All Products in Inventory</h1>

@if (Products != null)
{
    OnInitialized();
    if (Products != null)
    {
        <div style="margin-left: 15em; margin-right: 15em;">
            <DxGrid Data="@Products"
                    ShowSearchBox="true"
                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                    EditMode="GridEditMode.EditRow"
                    EditModelSaving="OnEditModelSaving">
                <Columns>
                    <DxGridCommandColumn Width="10%" DeleteButtonVisible="false" NewButtonVisible="false" />
                    <DxGridDataColumn FieldName="Name" Width="25%" />
                    <DxGridDataColumn FieldName="Price" DisplayFormat="c" Width="15%" />
                    <DxGridDataColumn FieldName="DateAdded" DisplayFormat="D" Width="25%"  ReadOnly>
                        <FilterMenuTemplate>
                            <DateRange FilterContext="context" />
                        </FilterMenuTemplate>
                    </DxGridDataColumn>
                    <DxGridDataColumn FieldName="LastModified" DisplayFormat="D" Width="25%"  ReadOnly>
                        <FilterMenuTemplate>
                            <DateRange FilterContext="context" />
                        </FilterMenuTemplate>
                    </DxGridDataColumn>
                </Columns>
            </DxGrid>
        </div>
    }
}

